@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Crowdfunding.Model
@model ProjectImage
@Html.ValidationMessageFor(m => m.FundingPackage.Tier, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(m => m.FundingPackage.Name, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(m => m.FundingPackage.Price, "", new { @class = "text-danger" })
<div class="form">

    <form asp-area="" asp-controller="Project" asp-action="CreateFundingPackage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FundingPackage.Tier" class="control-label">Tier</label>
            <input asp-for="FundingPackage.Tier" class="form-control" />
            <span asp-validation-for="FundingPackage.Tier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FundingPackage.Name" class="control-label">Name</label>
            <input asp-for="FundingPackage.Name" class="form-control" />
            <span asp-validation-for="FundingPackage.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FundingPackage.Description" class="control-label">Description</label>
            <input asp-for="FundingPackage.Description" class="form-control" />
            <span asp-validation-for="FundingPackage.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FundingPackage.Price" class="control-label">Price</label>
            <input asp-for="FundingPackage.Price" class="form-control" />
            <span asp-validation-for="FundingPackage.Price" class="text-danger"></span>
        </div>


     
        <hr />

        <div class="form-group">
            <input type="submit" value="Create Funding Tier" class="btn btn-primary" />
        </div>

    </form>
</div>

<div class="container">

</div>

<div class="container">

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}