@{
     ViewData["Title"] = "Create a new Project";
}
@using Crowdfunding.Model
@model ProjectImage

<h3>@ViewData["Title"]</h3>

<hr />
<br />

<div class="form">

<form asp-action="Create" enctype="multipart/form-data">
    <div>
        Title
    </div>

    <div>
        <input asp-for="Project.Title" placeholder="Title" />
    </div>

    <br />

    <div>
        Description
    </div>

    <div>
        <input asp-for="Project.Description" placeholder="Description" />
    </div>

    <br />

    <div>
        Goal
    </div>

    <div>
        <input asp-for="Project.Goal" placeholder="Goal" />
    </div>

    <br />

    <div>
        Category
    </div>

    <div>
        <select asp-for="Project.Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
    </div>

    <input type="hidden" asp-for="Project.Id" />

    <br />

    <!--  IMAGE KAI VIDEO OTAN MPOUN
    <dl>
        <dt>
            <label asp-for="ProjectImage"></label>
        </dt>
        <dd>
            <input asp-for="ProjectImage" type="file">
            <span asp-validation-for="ProjectImage"></span>
        </dd>
    </dl>

    <dl>
        <dt>
            <label asp-for="ProjectVideo"></label>
        </dt>
        <dd>
            <input asp-for="ProjectVideo" type="file">
            <span asp-validation-for="ProjectVideo"></span>
        </dd>
    </dl>
    </div>
        -->

    <div class="form-group">
        <input type="submit" value="Finalize Project" class="btn btn-primary" />
    </div>

</form>

 <div class="container">

 </div>

  <div class="container">

 </div>