@{
    ViewData["Title"] = "Create a new Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Crowdfunding.Model
@model ProjectImage

<h3>@ViewData["Title"]</h3>

<hr />
<br />
@Html.ValidationMessageFor(m => m.Project.Title, "", new { @class = "text-danger" })
@Html.ValidationMessageFor(m => m.Project.Goal, "", new { @class = "text-danger" })

<div class="form">

    <div class="form">

        <form asp-area="" asp-controller="Project" asp-action="CreateFundingPackage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Project.Title" class="control-label">Title</label>
                <input asp-for="Project.Title" class="form-control" />
                <span asp-validation-for="Project.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Description" class="control-label">Description</label>
                <input asp-for="Project.Description" class="form-control" />
                <span asp-validation-for="Project.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project.Goal" class="control-label">Goal</label>
                <input asp-for="Project.Goal" class="form-control" />
                <span asp-validation-for="Project.Goal" class="text-danger"></span>
            </div>
            <div>
                Category
            </div>

            <div>
                <select asp-for="Project.Category" asp-items="@(Html.GetEnumSelectList<Category>())"></select>
            </div>
            <hr />

            <div class="form-group">
                <input type="submit" value="Finalize Project" class="btn btn-primary" />
            </div>

        </form>
    </div>




    @*IMAGE KAI VIDEO OTAN MPOUN
        <dl>
            <dt>
                <label asp-for="ProjectImageFile"></label>
            </dt>
            <dd>
                <input asp-for="ProjectImageFile" type="file">
                <span asp-validation-for="ProjectImageFile"></span>
            </dd>
        </dl>*@

    @*<dl>
            <dt>
                <label asp-for="ProjectVideo"></label>
            </dt>
            <dd>
                <input asp-for="ProjectVideo" type="file">
                <span asp-validation-for="ProjectVideo"></span>
            </dd>
        </dl>*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}









<div class="container">

</div>

<div class="container">

</div>
