@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Crowdfunding.Model.Project>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">All Projects</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Index">All Projects</a></li>
                <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="TrendingProjects">Trending Projects</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Browse by Category
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Movies">Movies</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Boardgames">Boardgames</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Applications">Applications</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Games">Games</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="TechnologyandElectronics">Technology and Electronics</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Nutrition">Nutrition</a></li>
                        <li class="nav-item"> <a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="Other">Other</a></li>

                    </ul>
                </li>

                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>

            </ul>
        </div>
    </div>

</nav>
<br />
<br />
<a class="btn btn-primary" asp-controller="Backer" asp-action="Index">View projects you have funded</a>
<br />
<br />
<form method="post" action="/Project/Search">
    <label for="search">Search:</label>
    <input type="text" name="search" />
    <input type="submit" value="Search" />
</form>
<br />
<br />
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <!--<th>image</th>-
                <th>video</th>-->
                <th>Fundings</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td> <a href="/backer/projectedit/@project.Id" title="View"><b> @project.Title</b></a></td>
                    <td> @project.Description </td>
                    <td>



                        @if (project.Description != null)
                        {
                            <img src="/images/@project.Description" title="Project image" width="100px" height="100px" />
                        }



                    </td>
                    <td> @project.Fundings </td>
                    <td> @project.Category </td>
                    @*/ <td> <a href="/product/delete/@project.Id" title="delete"><b>X</b></a> </td>
                        <td> <a href="/product/update/@project.Id" title="update"><b>V</b></a> </td>/*@
                </tr>
            }
        </tbody>
    </table>

    <div class="container">

    </div>

    <div class="container">

    </div>
