@{
    ViewData["Title"] = "Sign in";
}
<h1>@ViewData["Title"]</h1>

<hr />
<br />


<div>
   <a class="btn btn-primary" asp-area="" asp-controller="Backer" asp-action="Index">Sign In</a> <!-- redirect - backerpage -->  
</div>

<br />
<br />

<div>
    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Go Back to Home Page</a> <!-- redirect - homepage -->  
</div>


<div class="container">

</div>


<div class="container">

</div>
