@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p>Hello! We did a thing! Hello Microsoft thank you for the classes. And CodeHub, thankssss!:)</p>

 <div class="container">

 </div>

  <div class="container">

 </div>

 <div class="container">

 </div>