@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Log in as a Creator or as a Backer.</p>
</div>

<div>
    <button type="button" class="block">Creator</button>
</div>

<div>
    <button type="button" class="block">Backer</button>
</div>

@* Testing stuff:
    <div>
        <div class="row">
            <h2 class="col-sm-6 block">test 1 </h2>
            <h2 class="col-sm-6 block">test 2 </h2>
        </div>
        <div class="row">
            <h2 class="col-sm-6 block">test 3 </h2>
            <h2 class="col-sm-6 block">test 4 </h2>
        </div>
    </div>
*@